# Python environments
.venv/
venv/
env/

# Python cache files
**/__pycache__/

# Type checking / linting
.pyright/

# IDEs
.vscode/*
!.vscode/settings.json

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Data structures
*.parquet
*.csv

# LaTeX-common filetypes
*.aux
*.bcf
*.out
*.gz
*.dvi
*.pdf
*.png