# Python environments
.venv/
venv/
env/

# Python cache files
**/__pycache__/

# Type checking / linting
.pyright/

# IDEs
.vscode/*
!.vscode/settings.json

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Data structures
*.parquet
*.csv

# LaTeX-common filetypes
*.aux
*.bcf
*.out
*.gz
*.dvi
*.pdf
*.png
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.run.xml

# Common 3D file types - MAY CHOOSE TO CHANGE AND ADD STEP FILES TO GIT, ONCE THE PROJECT IS FINISHED OR AT A SIGNIFICANT MILESTONE
*.step
*.stp
*.iges
*.igs
*.stl
*.obj
*.3mf

# G-code file types
*.gcode.3mf
*.gcode

# Solidworks ownership lock and recovery pointers
~$*.sld*
~$*.sd*

# Solidworks simulation file types
*.CWR
*.DSP
*.ELF
*.GEN
*.gsz
*.IDA
*.LCD
*.LDS
*.LOG
*.MAS
*.MFC
*.OUT
*.STE
*.STG